<!DOCTYPE html>
<html>
  <body>
    <h1>Place Mapz</h1>
    <div ng-app='app' ng-controller='SearchCtrl'>
      <form>
        Find: <input type='text' name='find'>
      </form>
      <button ng-click='getLocation(searchGoogle)'>Search</button>
      <div ng-repeat='place in places'>
        <h2>{{place.name}}</h2>
      </div>
    </div>
  </body>
  <script src="config.js"></script>
  <script src='../node_modules/angular/angular.js'></script>
  <script src='googleServices.js'></script>
  <script src="controllers.js"></script>
  <script src='app.js'></script>
</html>