<!DOCTYPE html>
<html>
  <head>
    <title>Place-Mapz</title>
    <!-- Angular Material style sheet -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="http://rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>
    <script src="config.js"></script>
    <script src='locationService.js'></script>
    <script src='googleServices.js'></script>
    <script src="controllers.js"></script>
    <script src='app.js'></script>
    <style type="text/css">
        #map_canvas {
          height: 400px;
          width: 100%;
          margin: 0px;
          position: relative;
        }

        #search_query {
          position: relative;
          text-align: center;
        }

        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>
  </head>
  <body>
    <h1>Place Mapz</h1>
    <div ng-app='app' ng-controller='SearchCtrl'> 
      <!-- MAP -->
      <div id="map_canvas">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
          <ui-gmap-markers
            models="markers"
            typeOptions="map.options.cluster"
            coords="'self'"
            icon="'icon'"></ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
      <!-- SEARCH -->
      <div id="search_query">
        <form>
          Find: <input type='text' name='find' ng-model='query'>
        </form>
        <button ng-click='searchGoogle(query, latitude, longitude)'>Search</button>
        <!-- LIST -->
        <md-content>
          <md-list flex="">
            <md-list-item class="md-3-line" ng-repeat='place in places' ng-click='showAdvanced(place, $event)'>
              <div class="md-list-item-text" layout="column">
                <h2>{{$index + 1}}. {{place.name}}</h2>
                <h4>{{place.formatted_address}}</h4>
              </div>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
        </md-content>

      </div>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

      <!-- Angular Material Library -->
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
      
      <!-- Your application bootstrap  -->
      <script type="text/javascript"> 
  </body>
</html>